/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  and follow the formatting and style given.
*/

/*
章レイアウト
*/

.content h2,h3 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  //background: #f4f4f4;/*背景色*/
  border-left: solid 5px #009688;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}

/*
すべてのリンクを滑らかにスクロール
*/

html { scroll-behavior: smooth;}

/*
用途不明だがどこかで使っている
*/
.test {
  display:inline-block;
  text-align:center;
  width:100%;
}

/*
google画像埋め込みの装飾
*/
.map-wrapper {
  max-width: 800px; /* 最大幅 */
  min-width: 280px; /* 最小幅 */
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #CCC;  /* ボーダー（枠線） */
}
.googlemap {
  position: relative;
  padding-bottom: 56.25%; /* 縦横比を 16:9 */
  height: 0;
  overflow: hidden;
}
.googlemap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
コメント一覧の装飾
*/

ul.comment {
  color: #1e366a;
  padding: 0.5em 0 0.5em 1.5em;
}

ul.comment li{
  color: #404040;
  border-left: solid 6px #5f5f5f;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
}

/*
ステップバーデザイン１
*/
.step-wrap1 {
 counter-reset:count;
 margin: 2em 0;
 position: relative;
}
.step-content1 {
 padding: 0 0 1.3em 2em;
 margin: 0;
 position: relative;
}
.step-content1::before {
 content: "";
 display: block;
 width: 13px;
 height: 13px;
 background: #6ab5a5;
 border: solid 3px #ffffff;
 border-radius: 50%;
 position: absolute;
 top: 3px;
 left: 3px;
 box-shadow: 0 0 0 2px #6ab5a5;
}
.step-content1::after {
 content: "";
 display: block;
 height: calc(100% - 35px);
 border-left: dotted 5px #768888;
 position: absolute;
 top: 30px;
 left: 10px;
}
.step-title1 {
 font-weight: bolder;
 font-size: 120%;
}
.step-label1 {
 color: #768888;
 font-size: 120%;
 font-weight: normal;
}

.step-body1 {
 margin-top: .5em;
 padding: 0 0 1em;
 border-bottom: dotted 2px #ddd;
}
.step-wrap1 > :last-of-type::after {
 display: none;
}

/***ステップバーデザイン２***/
.step-wrap3 {
 counter-reset: count;
 margin: 2em 0;
 position: relative;
}
.step-content3 {
 padding: 1.3em 0 .3em 1em;
 margin: 0 0 1em 1em;
 position: relative;
 border-top: solid 2px #ddd;
}
.step-content3::before {
 content: "";
 display: block;
 position: absolute;
 bottom: 0;
 left: -10px;
 border-style: solid;
 border-width: 17px 8px 0 8px;
 border-color: #ddd transparent transparent transparent;
}
.step-content3::after {
 content: "";
 display: block;
 height: calc(100% - 36px);
 border-left: dashed 4px #ddd;
 position: absolute;
 top: 16px;
 left: -4px;
}
.step-label3 {
 padding: 3px 20px 3px 15px;
 color: #fff;
 font-weight: bold;
 position: absolute;
 top: -18px;
 left: -20px;
 background: #6ab5a5;
 border-radius: 20px;
 z-index: 1;
}

.step-title3 {
 font-weight: bold;
 font-size: 120%;
}
.step-body3 {
 margin-top: .5em;
 padding: 0 0 1em;
}
.step-wrap3 > :last-child {
 box-shadow: 5px 7px 0 -5px #ddd;
}
.step-wrap3 > :last-child::before, .step-wrap3 > :last-of-type::after {
 display: none;
}